[submodule "external/protobuf"]
	path = external/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "external/messages"]
	path = external/messages
	url = https://github.com/introlab/opentera_messages.git
[submodule "opentera_messages"]
	update = rebase
[submodule "external/opentera-webcamoid"]
	path = external/opentera-webcamoid
	url = https://github.com/introlab/opentera-webcamoid.git
	branch = devel
