# This workflow will run on pull requests
name: Build on Pull Requests
on:
  workflow_dispatch:
    branches: [main, dev]
    
  pull_request:
    branches: [dev, main]
    
jobs:
  build:
    runs-on: windows-latest
    steps:
    
    - name: Install Qt
      uses: jurplel/install-qt-action@v3.3.0
      with:
        version: '6.9.1'
        host: 'windows'
        target: 'desktop'
        arch: 'win64_msvc2019_64'
        dir: 'C:\'
        install-deps: 'true'
        modules: 'all'
        #archives: 'qtbase qtsvg'
        cache: 'false'
        cache-key-prefix: 'install-qt-action'
        setup-python: 'false'
        tools: 'tools_ninja'
        set-env: 'true'
        tools-only: 'false'
        aqtversion: '==3.1.*'
        py7zrversion: '==0.20.*'
        extra: '--external 7z'
        
    - name: Checkout files
      uses: actions/checkout@v3
      with:
        submodules: recursive
    
    - name: List current files
      run: |
        dir
        
    - name: Create build directory
      run: mkdir build
      
    - name: List Qt directory
      working-directory: ${{env.Qt6_DIR}}
      run: |
        dir
    
    - uses: TheMrMilchmann/setup-msvc-dev@v3
      with:
        arch: x64
      
    - name: Build
      env:
        CMAKE_MODULE_PATH : ${{env.Qt6_Dir}}/lib/cmake/Qt6
      working-directory: build
      run: |
        cmake ../ -DCMAKE_BUILD_TYPE=Release -DQT6_DIR=${{env.Qt6_Dir}} -G CodeBlocks
        cmake --build .

