# This workflow will run on pull requests
name: Build on Pull Requests
on:
  workflow_dispatch:
    branches: [main, dev]
    
  pull_request:
    branches: [dev, main]
    
jobs:
  build:
    runs-on: windows-latest
    steps:
    
    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        version: '6.7.3'
        target: 'desktop'
        host: 'windows'
        arch: 'win64_msvc2019_64'
        use-official: true
        email: ${{ secrets.QT_EMAIL }}
        pw: ${{ secrets.QT_PW }}
        modules: |
            qtwebengine 
            qt3d 
            qt5compat 
            qtactiveqt 
            qtcharts 
            qtconnectivity 
            qtdatavis3d 
            qtgraphs 
            qtimageformats
            qtlocation 
            qtmultimedia 
            qtnetworkauth 
            qtremoteobjects
            qtscxml 
            qtserialbus
            qtserialport 
            qtshadertools
            qtvirtualkeyboard
            qtwebchannel
            qtwebsockets
            qtwebview 
            debug_info
    
    - name: Checkout files
      uses: actions/checkout@v4
      with:
        submodules: recursive
    
    - name: List current files
      run: |
        dir
        
    - name: Create build directory
      run: mkdir build
      
    - name: List Qt directory
      working-directory: ${{env.Qt6_DIR}}
      run: |
        dir
    
    - uses: TheMrMilchmann/setup-msvc-dev@v3
      with:
        arch: x64
      
    - name: Build
      env:
        CMAKE_MODULE_PATH : ${{env.Qt6_Dir}}/lib/cmake/Qt6
      working-directory: build
      run: |
        cmake ../ -DCMAKE_BUILD_TYPE=Release -DQT6_DIR=${{env.Qt6_Dir}} -G CodeBlocks
        cmake --build .

