# This workflow will run on pull requests
name: Build on Pull Requests
on:
  workflow_dispatch:
    branches: [main, dev]
    
  pull_request:
    branches: [dev, main]
    
jobs:
  build:
    runs-on: windows-latest
    steps:
    
    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        version: '6.9.1'
        target: 'desktop'
        host: 'windows'
        arch: 'win64_msvc2022_64'
        use-official: true
        email: ${{ secrets.QT_EMAIL }}
        pw: ${{ secrets.QT_PW }}
        modules: 'qt3d.debug_information qt3d qt5compat.debug_information qt5compat qtactiveqt.debug_information qtactiveqt qtcharts.debug_information qtcharts qtconnectivity.debug_information qtconnectivity qtdatavis3d.debug_information qtdatavis3d qtgraphs.debug_information qtgraphs qtgrpc.debug_information qtgrpc qthttpserver.debug_information qthttpserver qtimageformats.debug_information qtimageformats qtlanguageserver qtlocation.debug_information qtlocation qtlottie.debug_information qtlottie qtmultimedia.debug_information qtmultimedia qtnetworkauth.debug_information qtnetworkauth qtpositioning.debug_information qtpositioning qtquick3d.debug_information qtquick3d qtquick3dphysics.debug_information qtquick3dphysics qtquickeffectmaker.debug_information qtquickeffectmaker qtquicktimeline.debug_information qtquicktimeline qtremoteobjects.debug_information qtremoteobjects qtscxml.debug_information qtscxml qtsensors.debug_information qtsensors qtserialbus.debug_information qtserialbus qtserialport.debug_information qtserialport qtshadertools.debug_information qtshadertools qtspeech.debug_information qtspeech qtvirtualkeyboard.debug_information qtvirtualkeyboard qtwebchannel.debug_information qtwebchannel qtwebsockets.debug_information qtwebsockets qtwebview.debug_information qtwebview debug_info'
        
    - name: Checkout files
      uses: actions/checkout@v4
      with:
        submodules: recursive
    
    - name: List current files
      run: |
        dir
        
    - name: Create build directory
      run: mkdir build
      
    - name: List Qt directory
      working-directory: ${{env.Qt6_DIR}}
      run: |
        dir
    
    - uses: TheMrMilchmann/setup-msvc-dev@v3
      with:
        arch: x64
      
    - name: Build
      env:
        CMAKE_MODULE_PATH : ${{env.Qt6_Dir}}/lib/cmake/Qt6
      working-directory: build
      run: |
        cmake ../ -DCMAKE_BUILD_TYPE=Release -DQT6_DIR=${{env.Qt6_Dir}} -G CodeBlocks
        cmake --build .

